<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen"/>		     
    <node name="interactive_marker_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
     <remap from="topic_ns" to="/r2_teleop" />
     <remap from="target_frame" to="world" />
    </node>
</launch>
