<launch>
     <arg name="gui" default="False"/>
     
     <!-- Launch R2 in RWT (with interactive markers) -->
     <include file="$(find nasa_web)/launch/r2_interactive_rwt.launch">
        <arg name="gui" value="$(arg gui)"/>
     </include>

     <include file="$(find affordance_ros_control)/launch/affordance_ros_control.launch" />
     
     <node name="pc_to_markers" pkg="nasa_web" type="to_markers.py">
         <param name="pc_topic" value="/r2/asus/depth/points2"/>
     </node>
     <include file="$(find nasa_web)/launch/pc.launch" />
</launch>

