<launch>
    <node name="depthcloud_encoder" pkg="depthcloud_encoder" type="depthcloud_encoder_node">
        <param name="rgb" value="/r2/asus/rgb/image_raw"/>
        <param name="depth" value="/r2/asus/depth/image_raw"/>
    </node>

    <node name="web_video" pkg="ros_web_video" type="ros_web_video">
        <param name="port" value="9999"/>
        <param name="framerate" value="15"/>
        <param name="bitrate" value="250000"/>
        <param name="profile" value="best"/>
        <param name="www_file_server" value="true"/>
        <param name="wwwroot" value="$(find nasa_web)"/>
    </node>

</launch>
